/*common start*/
body{
    margin: 0;

    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/*common end*/

header{
    padding: 10px 0;

}
.container{
   overflow: hidden;
   margin: 0 auto;
   width: 90%;
   
}
.logo{
    width: 10%;
    float: left;
    padding-top: 15px;
}
.logo a{}
.logo a img{
    width: 100%;
}

.menu{
    margin-top: 1px;
    width: 60%;
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #626262;
    text-decoration: none;
    margin: 0 32px;
    display: inline-block;

}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li a:hover{}

